<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410549035606-rnassanot6o4f10e6int5hfge2ogvbc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410549035606-rnassanot6o4f10e6int5hfge2ogvbc3</string>
	<key>API_KEY</key>
	<string>AIzaSyCW2RSAgBepalIdqfpu8TCgNrvY9IFtjhc</string>
	<key>GCM_SENDER_ID</key>
	<string>410549035606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AWT.Notex</string>
	<key>PROJECT_ID</key>
	<string>notex-bf95a</string>
	<key>STORAGE_BUCKET</key>
	<string>notex-bf95a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410549035606:ios:973edbd6c7d7e8e57011f7</string>
</dict>
</plist>